body {
    margin: 0 auto;
    padding: 0;
}

.white {
    color: white;
}

.text-color {
    color: #555555;
}

.d-flex {
    display: flex;
}

.text-decoration-none {
    text-decoration: none;
}

.fw-400 {
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;
}


.header,
.content {
    background-color: #292E36;
    min-height: 250px;
}

.header .top-menu {
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px;
}

.header .top-menu p,
.header .top-menu button,
.content .container .left div button,
.menu-section .container .d-flex .left-menu div div button {
    box-sizing: border-box;
    text-align: center;
    width: 295px;
    font-weight: 400;
    font-size: 22px;
    padding: 15px 5px;
    border: 1px solid #E1B168;
    transition: 0.3s;
}

.header .top-menu button:hover,
.header .top-menu button:hover a,
.header .top-menu button a:hover,
.header .navbar .nav ul li:hover a {
    transition: 0.3s;
    background-color: transparent;
    color: #E1B168;
}

.header .top-menu button,
.content .container .left div button:hover,
.menu-section .container .d-flex .left-menu div div button:hover {
    background-color: #E1B168;
}

.header .top-menu img {
    width: 378px;
    height: 188px;
}

.header .navbar {
    position: sticky;
    top: 0;
    border-top: 1px solid gray;
    border-bottom: 2px dashed gray;
    justify-content: space-between;
    padding: 0 75px;
}

.header .navbar .nav {
    width: 50%;
}

.header .navbar .nav ul {
    padding: 0;
    justify-content: space-between;
}

.header .navbar .nav ul li,
.menu-section .container .fw-400 {
    list-style-type: none;
    font-size: 20px;
}

.header .navbar .nav ul li a,
.content .container .left div button,
.content .container .left div button a,
.menu-section .container .d-flex .left-menu div div button,
.menu-section .container .d-flex .left-menu div div button a {
    transition: 0.3s;
}

.social {
    font-size: 24px;
    align-items: center;
    gap: 20px;
}

.social div a .fa-instagram:hover,
.social div a .fa-facebook:hover,
.social div a .fa-twitter:hover {
    color: #E1B168;
}

.content .container .left {
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .container .left div {
    width: 100%;
    min-height: 10px;
}

.content .container .left div h1 {
    font-size: 100px;
    font-weight: 400;
    margin: 0;
}

.content .container .left div p,
.service .container .bottom-service p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 15px 0;
}


.content .container img {
    width: 655px;
    height: 769.66px;
    padding-top: 55px;
}

.content .container .left div button,
.menu-section .container .d-flex .left-menu div div button {
    width: 230px;
    background-color: transparent;
    margin-top: 10px
}

.content .container .left div button a,
.menu-section .container .d-flex .left-menu div div button a {
    color: #E1B168;
    background-color: transparent;
}

.content .container .left div button:hover,
.content .container .left div button:hover a,
.content .container .left div button a:hover,
.menu-section .container .d-flex .left-menu div div button:hover,
.menu-section .container .d-flex .left-menu div div button:hover a,
.menu-section .container .d-flex .left-menu div div button a:hover {
    transition: 0.3s;
    color: #292E36;
}

.service {
    background-color: #FFF8F5;
    min-height: 500px;
}

.service .container .top-service,
.menu-section .container .d-flex .right-menu .menu .menu-list .list {
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.service .container .top-service .d-flex {
    width: 440px;
}

.service .container .top-service .d-flex div h1,
.service .container .top-service .d-flex div p,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex .list-item h1,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex .list-item p {
    font-size: 30px;
    margin: 0;
}

.service .container .top-service .d-flex div p,
.menu-section .container .d-flex .left-menu div p {
    font-size: 20px;
    margin: 0;
}

.menu-section .container .d-flex .left-menu div p {
    padding-bottom: 35px;
}

.service .container .top-service .d-flex img,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex>img {
    object-fit: contain;
}

.service .container .top-service .d-flex,
.service .bottom-service .center,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex {
    align-items: center;
    gap: 20px;
}

.service .bottom-service {
    padding-bottom: 100px;
}

.service .bottom-service>img {
    width: 743px;
    height: 519px;
}

.service .bottom-service .right {
    padding: 5px 50px;
}

.service .bottom-service .right .up h1,
.service .bottom-service .right .center h1,
.menu-section .container .d-flex .left-menu div h1 {
    font-size: 40px;
    margin: 0;
    padding: 15px 0;
}

.menu-section {
    padding: 100px 0;
}

.menu-section .container .d-flex .right-menu {
    width: 60%;
    padding-left: 50px;
}

.menu-section .container .d-flex .left-menu {
    width: 40%;
}

.menu-section .container .d-flex .left-menu div div button {
    margin: 50px 0;
}

.menu-section .container .d-flex .right-menu .menu .menu-list .list {
    padding: 15px 0;
}

.menu-section .container .d-flex .right-menu .menu .menu-title,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .price,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex .list-item h1,
.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex .list-item p {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    color: #292E36;
}

.menu-section .container .d-flex .right-menu .menu .menu-list .list .d-flex .list-item p {
    font-size: 20px;
    color: #555555;
}

.menu-section .container .d-flex .right-menu .menu .menu-title {
    font-size: 36px;
    padding-bottom: 25px;
}

.menu-section .container .d-flex .right-menu .menu {
    padding-bottom: 50px;
}

.menu-section .container .section-title {
    display: inline-block;
    position: relative;
    padding: 5px 0;
}

.menu-section .container .section-title::after,
.menu-section .container .section-title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid #E1B168;
}

.menu-section .container .section-title::before {
    top: 0;
}

.menu-section .container .section-title::after {
    bottom: 0;
}